<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qks.backend.dao.DynamicCollectMapper">

    <resultMap id="BaseResultMap" type="com.qks.backend.entity.po.DynamicCollect">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="dynamicId" column="dynamic_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
            <result property="updateAt" column="update_at" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dynamic_id,user_id,
        create_at,update_at,deleted
    </sql>
</mapper>
